spring:
  application:
    name: jun-ai-agent
  ai:
    dashscope:
      api-key: sk-138612f0e0bc4c6698795790b6f485df
      chat:
        options:
          model: qwen-flash
          incremental-output: false
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi config
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.jun.junaiagent.controller
# knife4j config
knife4j:
  enable: true
  setting:
    language: zh_cn

